<!-- app/views/users/_user.html.erb -->

<div id="<%= dom_id(user) %>">
  <div class="user-card">
    <p><strong><%= user.nom %> <%= user.prenom %></strong></p>
    <p>Email: <%= user.email %></p>
  </div>
</div>
