<!-- Affichage de l'agenda général -->

<% content_for :title, "Agenda des Réservations" %>

<div class="container my-4">
  <h3 class="text-center mb-2">Agenda des réservations, évènements et instructeurs</h3>

  <% if @calendar_ids.present? && @calendar_ids.any? %>
    <div class="calendar-dark-container">
      <%
        base_url = "https://calendar.google.com/calendar/embed?"

        # 1. Initialisation de la table de correspondance avec les agendas statiques
        id_color_map = {
          ENV['GOOGLE_CALENDAR_ID_AVION_F_HGBT'] => '#B1365F', # Couleur pour l'avion
          ENV['GOOGLE_CALENDAR_ID_AVION_F_HGCU'] => '#6D0B2B', # Couleur pour l'avion
          ENV['GOOGLE_CALENDAR_ID_EVENTS'] => '#1D3466'      # Couleur pour les événements
        }.compact

        # 2. Définition d'une palette de couleurs pour les instructeurs
        instructor_colors = ['#21AC28', '#19532E', '#5B77A3', '#21177E', '#CE9F1F', '#6D6B00', '#E67C73', '#F09300']
        color_index = 0

        # 3. Ajout dynamique des agendas des instructeurs
        # On récupère tous les utilisateurs qui sont instructeurs et ont un ID d'agenda Google.
        User.where('fi IS NOT NULL AND fi >= ?', Date.today).where.not(google_calendar_id: [nil, ""]).find_each do |instructor|
          # On assigne une couleur de la palette en tournant (modulo)
          id_color_map[instructor.google_calendar_id] = instructor_colors[color_index % instructor_colors.length]
          color_index += 1
        end

        # Pour chaque calendrier on ajoute src=...&color=%23HEX
        calendar_params = @calendar_ids.map.with_index do |id, idx|
          color = id_color_map[id] || '#2952A3' # Couleur par défaut (bleu) si l'ID n'est pas dans la map
          "src=#{u(id)}&color=#{u(color)}"
        end.join('&')

        other_params = "&ctz=Europe/Paris&mode=WEEK&wkst=2"
        iframe_src = base_url + calendar_params + other_params
      %>
      <iframe src="<%= iframe_src %>" style="border: 0; width: 100%; max-width: 1200px; height: 1200px;" frameborder="0" scrolling="no"></iframe>
    </div>
  <% else %>
    <div class="alert alert-warning text-center">
      L'agenda n'est pas encore configuré. Veuillez contacter un administrateur.
    </div>
  <% end %>
</div>
