<% content_for :title, "Modifier la Réservation" %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-center mb-4">Modifier ma réservation</h1>
      <%# On réutilise le même formulaire que pour la création %>
      <%= render 'form', reservation: @reservation %>
    </div>
  </div>
</div>
