<% content_for :title, "Leçons de Vol" %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-center mb-5">Liste des Leçons</h1>

      <div class="list-group">
        <%= link_to "Progression type", flight_lesson_path("progression-type"), class: "list-group-item list-group-item-action" %>
        <% @lessons.each_with_index do |lesson, index| %>
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <a href="<%= flight_lesson_path(lesson) %>" class="ms-2 me-auto text-decoration-none text-body stretched-link"><%= index + 1 %>. <%= lesson.title %></a>
            <i class="bi bi-chevron-right text-muted"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
