<style>
  .table-danger-discarded {
    --bs-table-bg: #ff0015ff; /* Couleur de fond rouge clair de Bootstrap pour 'danger' */
  }
</style>

<div class="container mt-4" data-controller="progress-bar">
  <%# Barre de progression contrôlée par Stimulus %>
  <div class="progress-bar" data-progress-bar-target="bar" style="position: fixed; top: 0; left: 0; height: 3px; background-color: #0d6efd; width: 0; opacity: 0; z-index: 2000; transition: width 300ms ease-out, opacity 150ms 150ms ease-in;">
  </div>

  <h1>Gestion des bases de données</h1>

  <div class="row">

    <div class="col-md-2 mt-3 mb-5">
      <%= turbo_frame_tag "tables_list" do %>
        <%= render 'tables_list', tables: @tables, selected_table: @selected_table %>
      <% end %>
    </div>

    <div class="col-md-10 mt-3">
      <%= turbo_frame_tag "table_content_frame" do %>
        <% if @records %>
          <%= render 'table_content', table_name: @selected_table, records: @records %>
        <% else %>
          <div class="alert alert-info mt-3">Veuillez sélectionner une table dans la liste de gauche pour voir son contenu.</div>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
