<%# app/views/layouts/_pdf_progression_header.html.erb %>
<body style="margin: 0; padding: 0;" onload="subst()">
  <table style="width: 100%; border-collapse: collapse; border: 1px solid white; border-bottom: 1px solid #ddd; font-family: sans-serif;">
    <tr>
      <td style="width: 20%; vertical-align: middle; text-align: left; border: 1px solid white; border-bottom: 1px solid #ddd; padding-bottom: 10px;">
        <%= wicked_pdf_image_tag 'logo_s_pdf.png', style: 'height: 50px;' %>
      </td>
      <td style="width: 80%; text-align: right; vertical-align: middle; border: 1px solid white; border-bottom: 1px solid #ddd; padding-bottom: 10px;">
        <strong style="font-size: 1.2em;">Livret de Progression</strong><br>
        <span style="color: #555;">Elève : <%= @selected_eleve.full_name %></span>
      </td>
    </tr>
  </table>
</body>
