<div style="text-align: center; font-family: sans-serif; font-size: 12px; color: #777;">
  <h1>Livret de Progression</h1>
  <p style="margin-top: -10px;"><%= @selected_eleve.full_name %></p>
  <hr>
</div>
