<%# app/views/layouts/_pdf_header.html.erb %>
<table style="width: 100%; border-bottom: 1px solid #ddd; padding-bottom: 10px; font-family: sans-serif;">
  <tbody>
    <tr>
      <td style="width: 20%; vertical-align: middle;">
        <%= wicked_pdf_image_tag 'logo.png', style: 'height: 50px;' %>
      </td>
      <td style="width: 80%; text-align: right; vertical-align: middle;">
        <strong style="font-size: 1.2em;">Rapport Financier Annuel</strong><br>
        <span style="color: #555;">Aéroclub BastAir</span>
      </td>
    </tr>
  </tbody>
</table>
