<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Livret de Progression</title>
  <%# wicked_pdf_stylesheet_link_tag va inclure le CSS directement dans le PDF %>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
</head>
<body>
  <%= yield %>
</body>
</html>
